body {
  font-family: 'Hind Guntur', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.25em;
  font-weight: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none;
  color: white;
}

input {
  padding: 10px;
  border-radius: 5px;
  border-style: none;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ #link-list {
  display:inline-block;
}

button {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(0,209,39);
  border-style: none;
}

nav {
  padding: 10px;
  background: rgba(0,0,0,0.5);
}

.flex-item {
  order: <integer>;
  margin:auto;
}

.top-level {
  background-image: url(background.jpg);
  background-size: cover;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.flex-item {
  order: <integer>;
  flex-grow: 1;
  text-align: center;
}

.heading {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: normal;
}

.heading:hover {
  text-decoration: underline;
}

.link {
  font-size: 0.75em;
}

.link:hover {
  text-decoration: underline;
}

#left-align {
  text-align: left;
}

#nav {
  float: right;
  padding: 5px;
  margin: 5px;
}

#nav:hover {
  border-color: white;
  border-width: thin;
  border-style: solid;
  border-radius: 3px;
}

#nav-bottom {
  float: right;
  padding: 5px;
  margin: 5px;
}

#nav-bottom:hover {
  border-color: white;
  border-width: thin;
  border-style: solid;
  border-radius: 3px;
}

#sign-in {
  float: right;
  padding: 5px;
  margin: 5px;
}

#sign-in:hover {
  border-color: white;
  border-width: thin;
  border-style: solid;
  border-radius: 3px;
}

#bottom-bar {
  flex-direction: row;
  padding: 10px;
  background: rgba(0,0,0,0.5);
}

#link-container {
  flex-direction: row;
  margin: 50px;
}

#email-box {
  flex-direction: row;
  flex-flow: row wrap;
  padding: 20px;
  border-radius: 10px;
  background: rgba(0,0,0,0.5);
  width: 33%;
  margin: auto;
}

#link-list {
  text-align: left;
  font-size: 1.5em;
}

#link-list-mobile {
  display: none;
  text-align: left;
  font-size: 1.5em;
}


#name {
  text-align: left;
  font-size: 1.5em;
}

#name:hover{
  text-decoration: underline;
}

#greeting {
  margin-top: 100px;
  margin-bottom: 50px;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#navigation {
  flex-direction: row;
}

@media only screen and (max-width: 640px) {
  #nav {
    display: none;
  }

  #nav:hover {
    display:none;
  }

  #link-list {
    display:none;
  }

  #link-list-mobile {
    display: inline-block;
  }

  #link-container {
    flex-direction:column;
  }

  #greeting {
    width: 100%;
  }

  #email-box {
    flex-direction: column;
    flex-flow: column nowrap;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: auto;
    padding-bottom: auto;
    align-items: center;
    width: 100%;
  }

  h2 {
    display:none;
  }
  
}
